<footer>
    <div class="container">
        <nav>
            <ul class="nav bg-primary-red d-flex flex-row flex-lg-row flex-column mb-3 bg-light text-center justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-primary-red" aria-current="page" href="#">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary-red" href="#">Accessibility</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary-red" href="#">Privacy policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary-red" href="#">Copyright</a>
                </li>
            </ul>
        </nav>
        <section>
            <div class="d-flex justify-content-lg-between justify-content-center">
                <div class="float-start">
                    <a href="#">
                        <img class="img-fluid d-none d-lg-block " src="https://sandbox.walesessentialskills.com/sites/all/themes/advance2/sgw/images/tribal.png" />
                    </a>
                    <p class="mt-1">
                        Copyright© Tribal Education Ltd 2021

                    </p>
                </div>
                <div class="float-end">
                    <p>
                        <img class="img-fluid d-none d-lg-block " src="https://sandbox.walesessentialskills.com/sites/all/themes/advance2/sgw/images/logoen.gif" title="European Social fund (ESF)" alt="European Social fund (ESF)">
                    </p>
                </div>
            </div>
        </section>
    </div>
</footer>