<nav class="navbar navbar-light border-bottom bg-login-nav">
    <div class="container">
        <h2 class="m-1 ps-4">Users</h2>
    </div>
</nav>

<div class="container mb-3">
    <div class="card rounded-0 border-0 bg-layout-card">
        <div class="card-body m-lg-3">
            <div class="mb-3 row">
                <div class="col">
                    <a href="#" class="float-xl-end d-block btn btn-primary px-4 py-2 rounded-0 border-0 bg-primary-red">New Learner</a>
                </div>
            </div>
            <div>
                <p>Click a learner name to view and update an individual’s learning plan and details.</p>
                <p>To apply an action to one or more learners in this list, select their checkboxes and then press the appropriate ‘Action’ button at the bottom of the list. Please
                    <a class="text-primary-red" href="/?q=node/111">read these notes before disabling or deleting accounts</a>.</p>
                <p>Use the search options to filter the list by keyword, course, or group.</p>
            </div>
            <div class="card rounded-0 border-0 bg-form-card mb-3">
                <div class="card-body">
                    <form>
                        <div class="mb-3 row">
                            <label class="col-lg-2 col-form-label">Courses: </label>
                            <div class="col-lg-4">
                                <select class="form-control" name="courseFilter" [(ngModel)] = "courseFilter" 
                                    >
                                    <option value=0 >All Courses</option>
                                    <optgroup disabled label="= All Courses ="></optgroup>
                                    <option *ngFor="let course of courses" [ngValue]="course.id">{{course.name}}</option>
                                </select>
                                
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-lg-2 col-form-label">Groups: </label>
                            <div class="col-lg-4">
                                <select class="form-control" name="groupFilter" [(ngModel)] = "groupFilter" >
                                    <option value=0>All Groups</option>
                                    <option *ngFor="let group of groups" [ngValue]="group.id">{{group.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-lg-2 col-form-label">Account status: </label>
                            <div class="col-lg-5">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">Enabled</label>

                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">Disabled</label>
                                </div>
                            </div>
                            <div class="input-group col-lg-5 " id="searchBox">
                                <input type="text" class="form-control float-end" [(ngModel)] = "searchTerm" name ="searchInput">
                                <button type="submit" class="btn btn-primary bg-primary-red border-0" (click) = "search()">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table bg-secondary-grey text-login">
                        <tr>
                            <th class="align-middle">
                                <div class="p-0 d-inline">
                                    Sort
                                    <select class="btn-light">
                                          <option value="Test1">First Name</option>
                                          <option value="Test2">Last Name</option>
                                        </select>
                                </div>
                            </th>
                            <th class="align-middle">Groups</th>
                            <th class="align-middle">Courses</th>
                        </tr>
                    </thead>
                    <div class="text-danger" *ngIf = "!learners?.length"> {{searchResult}} </div>
                    <tbody *ngIf = "learners?.length">
                        <div class="text-danger" *ngIf = "!learners?.length"> {{searchResult}} </div>
                        <tr class="bg-form-card" *ngFor="let learner of learners"  >
                            <th class="fw-normal">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{learner.firstname}} {{learner.lastname}} <span class="text-danger">(D)</span> [{{learner.username}}]
                                    </label>
                                </div>
                            </th>
                            <td>{{learner.group.name}}</td>
                            <td>
                                <span *ngFor="let course of learner.learnerStatus">
                                    <img src={{course.iconPath}} title={{course.name}}>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card rounded-0 border-0 bg-form-card mb-3">
                <div class="card-body">
                    <div class="row">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center ">
                                <li class="page-item disabled">
                                    <a class="page-link text-primary-red" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                                </li>
                                <li class="page-item"><a class="page-link text-primary-red" href="#">1</a></li>
                                <li class="page-item"><a class="page-link text-primary-red" href="#">2</a></li>
                                <li class="page-item"><a class="page-link text-primary-red" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link text-primary-red" href="#">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="mb-3 row text-center">
                        <div class="col-lg-6 text-lg-start">
                            <label class="col-lg-3 col-form-label text-lg-end">Select: </label>
                            <a href="# " class="btn btn-sm btn-primary px-3 py-1 rounded-0 border-0 bg-primary-red ">All</a>&nbsp;
                            <a href="# " class="btn btn-sm btn-primary px-3 py-1 rounded-0 border-0 bg-primary-red ">None</a>
                        </div>
                        <div class="col-lg-6 text-lg-end">
                            <label class="col-lg-3 col-form-label ">Action: </label>
                            <a href="# " class="btn btn-sm btn-primary px-3 py-1 rounded-0 border-0 bg-primary-red ">Assign Courses</a>&nbsp;
                            <a href="# " class="btn btn-sm btn-primary px-3 py-1 rounded-0 border-0 bg-primary-red ">Disable</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
